language: go

install:
  - go get github.com/andybons/hipchat
  - go get golang.org/x/net/websocket
  - go get -d -v ./...

script:
  - go test -v -covermode=count -coverprofile=profile.cov

after_success:
  - goveralls -coverprofile=profile.cov -service=travis-ci

notifications:
  email: true
